body {
    background-color: lightgray;
}

.custom-button {
    width: 50px !important;
    height: 50px !important;
    font-size: 2em;
}

.chart-header h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-header button {
    margin-left: 10px;
}

.chart-container {
    transition: all 0.3s;
}

.chart-container.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: white;
    margin-top: 100px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation. */
}

.chart-container.expanded canvas {
    width: 100%;
    height: 80vh;
}

.chart-container.expanded .chart-header {
    position: absolute;
    top: 10rem;
    right: 1rem;
}

.module-detail {
    border: 1px solid #e0e0e0;
    font-size: 1.1em;
}

.navbar {
    height: 50px;
    position: relative;
    z-index: 999;
}

.enlarge-button, .reduce-button {
    z-index: 3000;
}

